@font-face {
  font-family: "windows98";
  font-style: normal;
  src: url(./font/w95fa.woff);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "windows98";
  background-color: #008081;
}

.window {
  position: fixed;
  left: 30%;
  top: 20%;
  background-color: #c0bfc1;
  height: 230px;
  width: 400px;
  border: 2px outset #cbcbca;
  box-shadow: 1px 1px 2px black;
}

.window-header {
  font-size: 0.7rem;
  font-weight: 700;
  color: white;
  height: 25px;
  background-color: #041376;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 3px;
  padding-left: 3px;
}

.btn {
  display: inline-block;
  font-family: inherit;
  height: 14px;
  width: 16px;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 1px 2px 2px black;
  border-radius: 0px;
  border: 1.5px outset white;
  background-color: #c0c0c0;
  color: black;
}

.window-content {
  display: flex;
  justify-content: space-evenly;
  padding-right: 10px;
  margin-top: 10px;
}

.window-content img {
  margin-top: 15px;
}

.radio-buttons {
  display: flex;
  flex-direction: column;
}
.radio div {
  margin: 2px;
}

.btn-row {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-right: 10px;
  width: 300px;
}
.btn-wide {
  font-family: inherit;
  display: flex;
  height: 28px;
  width: 90px;
  background-color: #cfccce;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px black;
  border-radius: 0px;
  border: 2px outset white;
}

.toolbar {
  position: fixed;
  background-color: #bec1c1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  bottom: 0;
  width: 100%;
  border-top: solid 1px white;
}

.border {
  position: fixed;
  bottom: 1;
  width: 100%;
  background-color: white;
  height: 1px;
}

.start-toolbar {
  display: flex;
  align-items: center;
}
.btn-start {
  width: 70px;
  margin-left: 5px;
  font-weight: 900;
  font-size: 16px;
}

.btn-tb {
  margin-left: 5px;
  width: 250px;
  justify-content: start;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
}

.btn-tb-pressed {
  background-color: #dee2e3;
  box-shadow: 0px 0px 2px 1px black;
  border: 1mm inset white;
}

.btn-tb img {
  margin-right: 5px;
}

.btn-start img {
  margin-right: 4px;
}

.line-thin {
  background-color: #909090;
  margin-left: 3px;
  height: 25px;
  width: 1px;
}

.line-thin-shadow {
  background-color: white;
  margin: 0;
  font-weight: 10;
  width: 0.5px;
}
.line-thick {
  margin-left: 2px;
  height: 16px;
  width: 1px;
  background-color: #c0c0c0;
  border: 1px outset white;
}

.time {
  background-color: #c1bfbf;
  font-size: 13px;
  height: 20px;
  width: 80px;
  border: 2px inset white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 4px;
}

.time p {
  margin-right: 5px;
}

.icon-grid {
  display: grid;
  height: auto;
  grid-template-rows: repeat(5, 125px);
  grid-template-columns: repeat(2, 125px);
  grid-auto-flow: column;
}

.icon-grid img {
  height: 60px;
  width: 60px;
}

.icon-grid p {
  color: white;
  font-size: 14px;
}

.icon-grid button {
  font-family: "windows98";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border: none;
}

.icon-grid button:focus {
  background-color: blue;
  opacity: 50%;
}

.startBar {
  background-color: #bfc7c9;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 25px;
  width: 230px;
  height: 330px;
  box-shadow: 1px 2px 2px black;
  border: 1.5px outset white;
}
.logo {
  writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background-color: #888890;
  color: hsl(200, 7%, 74%);
  height: auto;
  width: auto;
  font-size: 30px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn-start-toolbar {
  background-color: #bfc7c9;
  width: 202px;
  height: 54px;
  border: none;
  display: flex;
  align-items: center;
  font-family: "windows98";
  font-size: 15px;
}

.btn-start-toolbar img {
  margin-right: 5px;
}

.btn-start-toolbar:hover {
  background-color: #0a246a;
  color: white;
}

.border-white {
  width: 198px;
  height: 1px;
  background-color: white;
}

.border-black {
  width: 198px;
  height: 1px;
  background-color: black;
}
